ETHERSCAN_API_KEY=<ETHERSCAN_API_KEY>
DEPLOYER_PRIVATE_KEY=<PRIVATE_KEY>
RPC_URL=https://arb-mainnet.g.alchemy.com/v2/<API_KEY>

# ValantisSwapRouter deployment params
WETH=0x82aF49447D8a07e3bd95BD0d56f35241523fBab1
PROTOCOL_FACTORY=0x9eeA88168584895c3dc4b01CD95647E7C7b66d93
PERMIT2=0x000000000022D473030F116dDEE9F6B43aC78BA3

# GaslessSwapEntrypoint deployment params
DAI=
GASLESSSWAP_ENTRYPOINT_OWNER=
SWAP_ROUTER=